html {
  height: 100vh;
  overflow: hidden; }

body {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

html, body {
  /*background: gray;*/
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

/*#hugeWrapper{
	height: 100vh;
	width: 100%;
	overflow: hidden;
}*/
#main {
  margin: 0;
  padding: 0; }

#spaceholder {
  position: relative;
  /*margin-top: $mobileUpperHeight + $mobileLowerHeight;*/
  width: 100%;
  height: 2000px;
  /*background: #eee;*/
  color: #000;
  /*z-index: -1;*/ }

#spaceholder p {
  padding: 0;
  margin: 0;
  font-size: 24px; }

#top {
  /*width: 100%;*/ }

/*================================================================================*/
/*=====================================BOTH=======================================*/
/*================================================================================*/
.shadow {
  /*position: absolute;*/
  z-index: -1;
  /*width: 100%;*/
  /*height: 100%;*/
  opacity: 1;
  /*border-radius: 5px;*/
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  /*transition: box-shadow .2s ease-in-out;*/ }

.noScroll {
  height: 100% !important;
  overflow: hidden !important;
  -webkit-overflow-scrolling: auto !important; }

/*================================================================================*/
/*=====================================MOBILE=====================================*/
/*================================================================================*/
#mobileHeader {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100vh;*/
  /*transform: translate(0px,200px);*/ }

/*MOBILE UPPER*/
#mobileUpperHeader {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 38px;
  background: #fff;
  overflow: hidden;
  z-index: 11; }

#mobileUpperWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  transition: transform .5s;
  /*transition-timing-function: linear;*/
  transition-timing-function: ease-out; }

#mobileUpperLogo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  /*background: blue;*/ }

.menuLogo {
  float: left;
  /*margin-top: 14px;*/
  margin-left: 8%;
  height: 26px;
  width: 150px;
  overflow: hidden;
  /*background: blue;*/ }

#mobileHeader .menuLogo {
  margin-top: 14px; }

.menuLogo img {
  float: left; }

.logoVerticalBar {
  float: left;
  margin-left: 10px;
  margin-top: 6px;
  height: 17px;
  width: 1px;
  background-color: #000; }

.awowdName {
  float: left;
  margin-left: 10px;
  line-height: 26px;
  margin-top: 4px;
  vertical-align: bottom;
  font-size: 12px;
  letter-spacing: 4px;
  font-family: 'Avenir Next LT Pro Regular'; }

/*menu icon*/
.menu_icon {
  position: relative;
  display: inline-block;
  float: right;
  /*background-color: #eee;*/
  width: 25px;
  height: 25px;
  margin-right: 8%;
  /*top: 10px;*/
  text-align: center;
  opacity: 0.8;
  cursor: pointer; }

#mobileHeader .menu_icon {
  top: 10px; }

.nav_bar {
  width: 20px;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000;
  transition: all 0.2s; }

.nav_bar:nth-child(2) {
  top: 20px; }

.menu_icon.active .nav_bar {
  top: 0 !important;
  left: 0 !important;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background-color: #000; }

.menu_icon.active .nav_bar:nth-child(2) {
  top: 0 !important;
  left: 0 !important;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  background-color: #000; }

#mobileUpperClose {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 38px;
  transition: opacity 1s;
  transition-timing-function: ease-in;
  /*transition-timing-function: linear;*/
  /*background: red;*/
  /*line-height: $mobileUpperHeight;*/
  /*vertical-align: text-bottom;*/ }

#mobileCloseText {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 8px;
  text-align: center;
  font-size: 16px;
  font-family: 'Avenir Next LT Pro Regular';
  color: #000;
  line-height: 30px;
  /*vertical-align: top;*/
  overflow: hidden;
  /*background: purple;*/ }

/*MOBILE LOWER*/
#mobileLowerHeader {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 58px;
  background: #fff;
  z-index: 9;
  transition: transform .2s;
  transition-timing-function: linear;
  /*transform: translate(0px,100px);*/ }

#mobileEmailOuter {
  position: relative;
  width: 94%;
  height: 42px;
  top: 8px;
  margin-left: 3%;
  border: 1px solid #eee;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  /*background: red;*/ }

#inputLeftWrapper {
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
  transition: transform .2s;
  transition-timing-function: linear; }

#menuBookTitle {
  float: left;
  /*transform: translate(-100px,0px);*/
  padding-left: 5.4%;
  width: 100px;
  height: 100%;
  line-height: 42px;
  text-align: left;
  vertical-align: center;
  font-size: 16px;
  color: #777;
  font-family: 'Avenir Next LT Pro Regular';
  /*background-color: red;*/
  transition: transform .2s;
  transition-timing-function: linear; }

#menuBookInputBox {
  float: left;
  height: 100%;
  transition: transform .2s;
  transition-timing-function: linear;
  /*background-color: blue;*/ }

#menuBookInputBox input {
  height: 100%;
  width: 100%;
  border: none;
  line-height: 42px;
  text-align: left;
  vertical-align: center;
  font-size: 16px;
  font-family: 'Avenir Next LT Pro Regular';
  cursor: pointer;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  border: none;
  padding-left: 20px; }

#menuBookInputBox input::placeholder {
  font-family: FontAwesome,'Avenir Next LT Pro Regular';
  font-size: 16px;
  letter-spacing: 1px;
  color: 000;
  opacity: 0.4;
  /*font-size: 16px;*/ }

input[type=email]:focus, textarea:focus {
  outline: 0; }

#menuBookSendButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  opacity: 0; }

#menuBookSendButton i {
  height: 100%;
  width: 100%;
  line-height: 42px;
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  /*background: red;*/ }

/*MOBILE MENU*/
#mobileMenu {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  /*background: purple;*/
  /*height: 200px;*/
  z-index: 10; }

#mobileMenuDisplay {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 200px;*/
  /*background: green;*/
  overflow: hidden;
  /*transform: translate(0px,100px);*/
  transition: transform .2s;
  transition-timing-function: linear; }

#mobileMenuContent {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*background: url(../_img/IMG_5832.JPG);*/
  background: #fff;
  background-size: cover;
  background-position: center center;
  transition: transform .2s;
  transition-timing-function: linear; }

#mobileMenuContent ul {
  position: absolute;
  top: 50%;
  width: 92%;
  padding-left: 8%;
  /*height: 50%;*/
  transform: translateY(-50%);
  /*background-color: #ccc;*/ }

#mobileMenuContent ul li {
  list-style: none;
  width: 250px;
  height: 40px;
  margin-top: 10px;
  /*text-align: right;*/
  line-height: 40px;
  vertical-align: bottom;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid #eee;
  float: right;
  clear: both;
  font-size: 30px;
  letter-spacing: 1px;
  color: #eee;
  font-family: 'Avenir Next LT Pro Regular';
  /*background-color: blue;*/ }

.menuSelected {
  letter-spacing: 5px !important;
  color: #000 !important;
  border-bottom: 2px solid #000 !important; }

/*Book A Life*/
#mobileBookLife {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  /*background: purple;*/
  /*height: 200px;*/
  z-index: 8; }

#mobileBookDisplay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /*NEED TO KEEP THE MINIMUM HEIGHT AT 1PX FOR BOX-SHADOW*/
  height: 1px;
  /*background: green;*/
  overflow: hidden;
  /*transform: translate(0px,100px);*/
  transition: transform .2s;
  transition-timing-function: linear; }

#mobileBookLowerDisplay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*background: url(../_img/IMG_5832.JPG);*/
  background: #fff;
  transition: transform .2s;
  transition-timing-function: linear;
  overflow-y: scroll; }

#mobileBookContent {
  position: absolute;
  top: 0;
  width: 84%;
  padding-left: 8%;
  height: auto;
  /*background: url(../_img/IMG_5832.JPG);*/
  background: #fff;
  transition: transform .2s;
  transition-timing-function: linear;
  color: #999; }

#mobileMailFeedback {
  height: 50px;
  width: 100%;
  /*background: red;*/
  /*color: #000;*/
  font-size: 16px;
  font-family: 'Avenir Next LT Pro Regular'; }

#mobileBookContent h3 {
  /*color: #000;*/
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Avenir Next LT Pro Regular'; }

#mobileBookContent p {
  /*color: #000;*/
  padding-top: 20px;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: 'Avenir Next LT Pro Regular'; }

/*================================================================================*/
/*=====================================WEB========================================*/
/*================================================================================*/
#webHeader {
  /*display: none;*/
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%; }

#webHeaderDisplay {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  /*background: #fff;*/
  overflow: hidden;
  z-index: 11; }

#webHeaderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  transition: transform .5s;
  /*transition-timing-function: linear;*/
  transition-timing-function: ease-out;
  background: #fff; }

.webHeaderSublevel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /*opacity: 0;*/
  height: 60px;
  transition: opacity 1s;
  transition-timing-function: ease-in;
  /*background: blue;*/ }

#webMenu {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  /*background: purple;*/
  /*height: 200px;*/
  z-index: 10; }

#webMenuDisplay {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 200px;*/
  /*background: #fff;*/
  overflow: hidden;
  /*transform: translate(0px,100px);*/
  transition: transform .2s;
  transition-timing-function: linear; }

#webMenuContent {
  position: relative;
  top: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: transform .2s;
  transition-timing-function: linear; }

#webMenuInnerContent {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  /*height: 100%;*/
  /*background-color: blue;*/ }

#webMenuContactInfo {
  display: inline-block;
  width: 400px;
  padding: 0 25px;
  height: 100%;
  color: #999;
  font-family: 'Avenir Next LT Pro Regular';
  text-align: left; }

#webMenuContactInfo h4 {
  font-weight: normal;
  letter-spacing: 6px;
  font-size: 24px; }

#webMenuContactInfo p {
  padding: 0;
  margin: 8px 0;
  letter-spacing: 5px;
  font-size: 16px; }

#webMenuInnerContent ul {
  float: right;
  width: 250px;
  padding: 0;
  /*height: 50%;*/
  /*background-color: #ccc;*/ }

#webMenuInnerContent ul li {
  list-style: none;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  text-align: left;
  line-height: 40px;
  vertical-align: bottom;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  float: left;
  clear: both;
  font-size: 30px;
  letter-spacing: 1px;
  color: #ccc;
  font-family: 'Avenir Next LT Pro Regular';
  transition: letter-spacing 1s,color 1s;
  cursor: pointer;
  /*transition-timing-function: linear;*/
  /*background-color: blue;*/ }

#webMenuContent ul li:hover {
  letter-spacing: 5px;
  color: #777; }

#webHeader .menuLogo {
  position: absolute;
  margin-top: 17px;
  color: #000; }

#webHeaderLevel1 {
  /*text-align: left;*/
  /*position: absolute;*/
  /*background: green;*/ }

#webHeaderLevel2 {
  /*background-color: red;*/ }

#webBookButton {
  width: 100px;
  height: 26px;
  line-height: 26px;
  vertical-align: center;
  position: absolute;
  display: inline-block;
  text-align: center;
  margin-left: 50%;
  left: -50px;
  top: 21px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #000;
  font-family: 'Avenir Next LT Pro Regular';
  /*background: blue;*/ }

#webHeader .menu_icon {
  position: absolute;
  right: 0;
  top: 14px; }

#webBookLifeDisplay {
  position: relative;
  top: 0px;
  width: 100%;
  /*height: 100px;*/
  background: green;
  overflow-y: scroll;
  transition: transform .2s;
  transition-timing-function: linear; }

#webBookContent {
  width: 100%;
  height: 1000px;
  background-color: blue; }

.techDisplay {
  overflow: hidden;
  /*background-color: blue;*/
  position: relative;
  width: 100%;
  /*height: 300px;*/ }

.techSectionContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*width: 800px;*/
  /*height: 500px;*/
  /*background-color: green;*/ }

.techTitle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  width: 500px;
  max-width: 100%;
  /*top: 700px;*/
  font-size: 40px;
  color: #333;
  text-align: center;
  font-family: 'Avenir Next LT Pro Regular';
  letter-spacing: 2px; }

.techImg img {
  width: 100%; }

.techTextContent {
  margin-left: auto;
  margin-right: auto;
  /*background: rgba(255,255,255,0.1);*/
  width: 60%;
  font-size: 20px;
  color: #777;
  text-align: center;
  font-family: 'Avenir Next LT Pro Regular';
  letter-spacing: 1px;
  line-height: 35px; }

.techTextContent p {
  margin: 0; }

.showMoreButton, .showLessButton {
  height: 50px;
  padding-top: 25px;
  padding-bottom: 100px;
  /*font-size: 0.8em;*/
  color: #3989ed;
  /*cursor: pointer;*/ }

.showMoreButton p, .showLessButton p {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  cursor: pointer; }

.additionalDisplay {
  height: 175px;
  overflow: hidden; }

.additionalWrapper {
  position: relative; }

.hiddingPara {
  opacity: 0; }

.hiddingPara p:before {
  padding: 10px;
  font-family: FontAwesome;
  font-size: 16px;
  content: '\f20e';
  display: block; }

/*SECTION BRAIN*/
#techSectionOne {
  background: #cfcfcf;
  margin-top: 80px; }

#techSectionOne .techTextContent {
  position: relative;
  margin-top: 5%; }

#techSectionOne .techImg {
  margin-left: -10%;
  margin-right: auto;
  width: 120%; }

#techSectionTwo {
  background-color: #fff; }

#techSectionTwo .techTitle {
  /*padding-top: 300px;*/ }

#techSectionTwo .techImg {
  margin: auto;
  padding: 300px 200px 200px 200px;
  width: 400px;
  height: 300px; }

@media (max-width: 768px) {
  .techTextContent {
    width: 90%; }

  #techSectionTwo .techImg {
    margin: auto;
    padding: 100px 0 100px 0;
    width: 90%;
    height: 60vh; } }
/*BASKERVILLE*/
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville"), url("../_fonts/baskerville/LibreBaskerville-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Libre Baskerville Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville Bold"), url("../_fonts/baskerville/LibreBaskerville-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Libre Baskerville Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville Italic"), url("../_fonts/baskerville/LibreBaskerville-Italic.woff") format("woff"); }
/*AVENIR_NEXT*/
@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("../_fonts/avenir_next/AvenirNextLTPro-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"), url("../_fonts/avenir_next/AvenirNextLTPro-Bold.woff") format("woff"); }
html, body {
  font-size: 0;
  padding: 0;
  margin: 0; }

.container {
  width: 100%;
  overflow: hidden;
  /*background-color: red;*/ }

.content {
  width: 100%;
  /*height: 100vh;*/
  /*min-height: 100vh;*/
  /*  padding-top: 100px;
    padding-bottom: 100px;*/
  /*background-color: #eee;*/ }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.blankSpace {
  width: 100%;
  height: 5vh; }

.contentNoPadding {
  width: 100%; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.wrapperNoMargin {
  position: relative;
  width: 100%; }

.wrapper {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.threeFifthContainer {
  text-align: center;
  width: 60%;
  height: 100%;
  /*background-color: red;*/ }

.twoFifthContainer {
  text-align: center;
  width: 40%;
  height: 100%;
  /*background-color: green;*/ }

.contentImage {
  /*  transform: translate(0px,0px);
    opacity: 1;*/
  position: relative;
  display: inline-block; }

.floatLeft {
  float: left;
  margin-left: 10%; }

.floatLeftNoMargin {
  float: left; }

.floatRight {
  float: right;
  margin-right: 10%; }

.floatRightNoMargin {
  float: right; }

.alignRight {
  text-align: right; }

.twoFifthContainer img, .threeFifthContainer img {
  width: 100%;
  height: auto; }

.textArea {
  /*padding-top: 80px;*/
  /*display: inline-block;*/
  width: 70%;
  max-width: 500px;
  /*// height: 300px;*/
  text-align: left; }

.titleTargetPosition {
  margin: 0px;
  /*VERY IMPORTANT, PREVENT STRANGE SPACES*/
  margin-bottom: 50px;
  width: 100%;
  /*height: 150px;*/
  /*letter-spacing: 10px;*/
  /*color: #000;*/
  font-size: 45px;
  font-family: 'Avenir Next LT Pro Bold';
  letter-spacing: 2px;
  position: relative;
  float: left;
  clear: both; }

.smallText p {
  /*VERY IMPORTANT, PREVENT STRANGE SPACES*/
  margin: 0;
  /*VERY IMPORTANT, PREVENT STRANGE SPACES*/
  margin-top: 0px;
  width: 100%;
  font-family: 'Avenir Next LT Pro Regular';
  font-size: 25px;
  letter-spacing: 2px;
  opacity: 0.7; }

.videoText {
  display: block;
  width: 450px;
  /*height: 400px;*/
  text-align: left;
  margin-top: 500px; }

.animatedTitle {
  /*display: inline-block;*/
  /*margin-top: -10px;*/
  /*    position: relative;
      top: -50px;*/
  /*float: left;*/
  z-index: 99;
  width: 100%;
  /*height: 100px;*/
  /*background-color: yellow;*/ }

.textSpan {
  display: inline; }

.animatedTitle .textSpan {
  /*background-color: yellow;*/
  /*display: inline-block;*/ }

.animatedTitle .textSpan .word:first-child {
  /*position: relative;*/
  /*transform: translate(20px,20px);*/
  /*margin-left: 200px;*/ }

.word {
  display: block;
  float: left;
  margin-left: 8px;
  /*background-color: yellow;*/
  /*clear: top;*/ }

#videoBG {
  /*background-color: black;*/
  /*margin-top: $webHeaderHeight;*/
  width: 100%;
  height: 100vh;
  /*overflow: hidden;*/
  position: relative;
  z-index: -100; }

#videoDisplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#videoBG video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 30%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -30%); }

#videoBG .threeFifthContainer {
  /*position: absolute;*/
  /*position: relative;*/
  /*bottom: 0;*/
  left: 0;
  margin-top: 200px; }

.mobileText {
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  opacity: 0.7;
  padding-bottom: 50px;
  letter-spacing: 1px; }

#deerPNG {
  display: none; }

.mobileText .mobileTitle {
  letter-spacing: 2px;
  font-size: 30px;
  font-family: 'Avenir Next LT Pro Bold'; }

.mobileText .mobileSmallText {
  font-size: 20px;
  font-family: 'Avenir Next LT Pro Regular'; }

#textPara_1, #mobilePara_1 {
  /*float: left;*/
  color: white;
  opacity: 1; }

#mobilePara_1 {
  top: 65vh; }

#mobilePara_2 {
  padding-top: 50px; }

#mobilePara_3 {
  padding-top: 80px; }

#textPara_2, #mobilePara_2 {
  /*float: right;*/
  color: black; }

#textPara_3, #mobilePara_3 {
  /*float: right;*/
  color: white; }

#textPara_4, #mobilePara_4 {
  /*float: left;*/
  color: white; }

#homeSection_3 {
  background: #000; }

#homeSection_4 .contentImage img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }

#homeSection_4 .contentImage img:last-child {
  opacity: 1; }

#homeSection_4 {
  background-color: #cc3341;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s; }

/*IsMobile in JS*/
@media (max-width: 768px) {
  .mobileText, #deerPNG {
    display: block; }

  .threeFifthContainer, #deerSVG {
    display: none; }

  .twoFifthContainer {
    width: 70%;
    margin-left: 15%; }

  .floatLeft {
    float: none;
    margin-left: 0px; }

  .floatRight {
    float: none;
    margin-right: 0px; }

  .floatLeftNoMargin, .floatRightNoMargin {
    float: none; }

  .titleTargetPosition {
    font-size: 30px; }

  .smallText p {
    font-size: 20px; }

  .wrapper {
    width: 100%; }

  .textArea {
    margin-left: 8%;
    margin-right: auto;
    width: 84%;
    max-width: 100%; } }

/*# sourceMappingURL=style.css.map */
