$mobileUpperHeight: 38px;
$mobileLowerHeight: 58px;
$mibileThinMarginTop: 8px;
$mibileThinMarginLeft: 3%;
$mibileInnerMarginLeft: 5%;
$mibileFullMarginLeft: $mibileThinMarginLeft + $mibileInnerMarginLeft;

$webHeaderHeight: 80px;

/*html{
	height: 100vh;
	overflow: hidden;
}*/
html,body{
	/*background: gray;*/
	tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*body{
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}*/

/*#hugeWrapper{
	height: 100vh;
	width: 100%;
	overflow: hidden;
}*/
/*#main{
	height: 100vh;
	width: 100%;
	overflow: hidden;
}*/

#spaceholder{
	position: relative;
	/*margin-top: $mobileUpperHeight + $mobileLowerHeight;*/
	width: 100%;
	height: 2000px;
	/*background: #eee;*/
	font-size: 24px;
	color: #000;
	/*z-index: -1;*/
}

#top{
	/*width: 100%;*/
}

/*================================================================================*/
/*=====================================BOTH=======================================*/
/*================================================================================*/
.shadow {
	/*position: absolute;*/
	z-index: -1;
	/*width: 100%;*/
	/*height: 100%;*/
	opacity: 1;
	/*border-radius: 5px;*/
	box-shadow: 0 0px 3px rgba(0,0,0,0.3);
	/*transition: box-shadow .2s ease-in-out;*/
}

.noScroll{
	height: 100%;
	overflow: hidden;
}



/*================================================================================*/
/*=====================================MOBILE=====================================*/
/*================================================================================*/
#mobileHeader{
	/*display: none;*/
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 100vh;*/
	/*transform: translate(0px,200px);*/
}



/*MOBILE UPPER*/
#mobileUpperHeader{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $mobileUpperHeight;
	background: #fff;
	overflow: hidden;
	z-index: 11;
}

#mobileUpperWrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $mobileUpperHeight*2;
	transition: transform .5s;
	/*transition-timing-function: linear;*/
	transition-timing-function: ease-out;
}

#mobileUpperLogo{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: $mobileUpperHeight;
	/*background: blue;*/
}

.menuLogo{
	float: left;
	/*margin-top: 14px;*/
	margin-left: 8%;
	height: 26px;
	width: 150px;
	overflow: hidden;
	/*background: blue;*/
}

#mobileHeader .menuLogo{
	margin-top: 14px;
}

.menuLogo img{
	float: left;
}

.logoVerticalBar{
	float: left;
	margin-left: 10px;
	margin-top: 6px;
	height: 17px;
	width: 1px;
	background-color: #000;
}

.awowdName{
	float: left;
	margin-left: 10px;
	line-height: 26px;
	margin-top: 4px;
	vertical-align: bottom;
	font-size: 12px;
	letter-spacing: 4px;
	color: #000;
	font-family: 'Avenir Next LT Pro Regular';
}


/*menu icon*/
.menu_icon {
	position: relative;
	display: inline-block;
	float: right;
	/*background-color: #eee;*/
	width: 25px;
	height: 25px;
	margin-right: 8%;
	/*top: 10px;*/
	text-align: center;
	opacity: 0.8;
	cursor: pointer;
}

#mobileHeader .menu_icon{
	top: 10px;
}

.nav_bar {
	width: 20px;
	height: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	transition: all 0.2s;
}

.nav_bar:nth-child(2) {
  top: 20px;
}

.menu_icon.active .nav_bar {
  top: 0 !important;
  left: 0 !important;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background-color: #000;
}

.menu_icon.active .nav_bar:nth-child(2) {
  top: 0 !important;
  left: 0 !important;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  background-color: #000;
}




#mobileUpperClose{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	height: $mobileUpperHeight;
	transition: opacity 1s;
	transition-timing-function: ease-in;
	/*transition-timing-function: linear;*/
	/*background: red;*/
	/*line-height: $mobileUpperHeight;*/
	/*vertical-align: text-bottom;*/
}

#mobileCloseText{
	width: 100%;
	height: 30px;
	position: absolute;
	top: 8px;
	text-align: center;
	font-size: 16px;
	font-family: 'Avenir Next LT Pro Regular';
	color: #000;
	line-height: 30px;
	/*vertical-align: top;*/
	overflow: hidden;
	/*background: purple;*/
}



/*MOBILE LOWER*/
#mobileLowerHeader{
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: $mobileLowerHeight;
	background: #fff;
	z-index: 9;
	transition: transform .2s;
	transition-timing-function: linear;
	/*transform: translate(0px,100px);*/
}

#mobileEmailOuter{
	position: relative;
	width: 100% - $mibileThinMarginLeft*2;
	height: $mobileLowerHeight - $mibileThinMarginTop*2;
	top: $mibileThinMarginTop;
	margin-left: $mibileThinMarginLeft;
	border: 1px solid #eee;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
	/*background: red;*/
}

#inputLeftWrapper{
	position: relative;
	height: 100%;
	left: 0;
	top: 0;
	transition: transform .2s;
	transition-timing-function: linear;
}

#menuBookTitle{
	float: left;
	/*transform: translate(-100px,0px);*/
	padding-left: $mibileInnerMarginLeft + 0.4%;
	width: 100px;
	height: 100%;
	line-height: $mobileLowerHeight - $mibileThinMarginTop*2;
	text-align: left;
	vertical-align: center;
	font-size: 16px;
	color: #777;
	font-family: 'Avenir Next LT Pro Regular';
	/*background-color: red;*/
	transition: transform .2s;
	transition-timing-function: linear;
}

#menuBookInputBox{
	float: left;
	height: 100%;
	transition: transform .2s;
	transition-timing-function: linear;
	/*background-color: blue;*/
}


#menuBookInputBox input{
	height: 100%;
	width: 100%;
	border: none;
	line-height: $mobileLowerHeight - $mibileThinMarginTop*2;
	text-align: left;
	vertical-align: center;
	font-size: 16px;
	font-family: 'Avenir Next LT Pro Regular';
	cursor: pointer;

	box-shadow: none;
	padding: 0px;
	margin: 0px;
	border: none;
	padding-left: 20px;
}

#menuBookInputBox input::placeholder{
	font-family: FontAwesome,'Avenir Next LT Pro Regular';
	font-size: 16px;
	letter-spacing: 1px;
	color: 000;
	opacity: 0.4;
	/*font-size: 16px;*/
}

input[type=email]:focus, textarea:focus {
	outline:0;
}


#menuBookSendButton{
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 100%;
	opacity: 0;
}

#menuBookSendButton i{
	height: 100%;
	width: 100%;
	line-height: $mobileLowerHeight - $mibileThinMarginTop*2;
	text-align: center;
	vertical-align: center;
	font-size: 20px;
	/*background: red;*/
}



/*MOBILE MENU*/
#mobileMenu{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	/*background: purple;*/
	/*height: 200px;*/
	z-index: 10;
}

#mobileMenuDisplay{
	position: absolute;
	bottom:0;
	width: 100%;
	/*height: 200px;*/
	/*background: green;*/
	overflow: hidden;
	/*transform: translate(0px,100px);*/
	transition: transform .2s;
	transition-timing-function: linear;

}

#mobileMenuContent{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	/*background: url(../_img/IMG_5832.JPG);*/
	background: #fff;
	background-size: cover;
	background-position: center center;
	transition: transform .2s;
	transition-timing-function: linear;
}

#mobileMenuContent ul{
	position: absolute;
	top: 50%;
	width: 100% - $mibileFullMarginLeft;
	padding-left: $mibileFullMarginLeft;
	/*height: 50%;*/
	transform: translateY(-50%);
	/*background-color: #ccc;*/
}

#mobileMenuContent ul li{
	list-style: none;
	width: 250px;
	height: 40px;
	margin-top: 10px;
	/*text-align: right;*/
	line-height: 40px;
	vertical-align: bottom;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-bottom: 2px solid #eee;
	float: right;
	clear: both;
	font-size: 30px;
	letter-spacing: 1px;
	color: #eee;
	font-family: 'Avenir Next LT Pro Regular';
	/*background-color: blue;*/
}

.menuSelected{
	letter-spacing: 5px !important;
	color: #000 !important;
	border-bottom: 2px solid #000 !important;
}


/*Book A Life*/
#mobileBookLife{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	/*background: purple;*/
	/*height: 200px;*/
	z-index: 8;
}

#mobileBookDisplay{
	position: absolute;
	bottom:0px;
	width: 100%;
	/*NEED TO KEEP THE MINIMUM HEIGHT AT 1PX FOR BOX-SHADOW*/
	height: 1px;
	/*background: green;*/
	overflow: hidden;
	/*transform: translate(0px,100px);*/
	transition: transform .2s;
	transition-timing-function: linear;
}


#mobileBookLowerDisplay{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	/*background: url(../_img/IMG_5832.JPG);*/
	background: #fff;
	transition: transform .2s;
	transition-timing-function: linear;
	overflow-y: scroll;
}

#mobileBookContent{
	position: absolute;
	top: 0;
	width: 100% - $mibileFullMarginLeft*2;
	padding-left: $mibileFullMarginLeft;
	height: auto;
	/*background: url(../_img/IMG_5832.JPG);*/
	background: #fff;
	transition: transform .2s;
	transition-timing-function: linear;
	color: #999;
}

#mobileMailFeedback{
	height: 50px;
	width: 100%;
	/*background: red;*/
	/*color: #000;*/
	font-size: 16px;
	font-family: 'Avenir Next LT Pro Regular';
}

#mobileBookContent h3{
	/*color: #000;*/
	font-size: 30px;
	letter-spacing: 1px;
	font-family: 'Avenir Next LT Pro Regular';
}

#mobileBookContent p{
	/*color: #000;*/
	padding-top: 20px;
	font-size: 25px;
	letter-spacing: 1px;
	font-family: 'Avenir Next LT Pro Regular';
}



/*================================================================================*/
/*=====================================WEB========================================*/
/*================================================================================*/

#webHeader{
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
}



#webHeaderDisplay{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $webHeaderHeight;
	/*background: #fff;*/
	overflow: hidden;
	z-index: 11;
}


#webHeaderWrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $webHeaderHeight*2;
	transition: transform .5s;
	/*transition-timing-function: linear;*/
	transition-timing-function: ease-out;
	background: #fff;
}



.webHeaderSublevel{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	/*opacity: 0;*/
	height: $webHeaderHeight;
	transition: opacity 1s;
	transition-timing-function: ease-in;
	/*background: blue;*/
}



#webMenu{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	/*background: purple;*/
	/*height: 200px;*/
	z-index: 10;
}


#canvas{

}

#webMenuDisplay{
	position: absolute;
	bottom:0;
	width: 100%;
	/*height: 200px;*/
	/*background: #fff;*/
	overflow: hidden;
	/*transform: translate(0px,100px);*/
	transition: transform .2s;
	transition-timing-function: linear;

}

#webMenuContent{
	position: relative;
	top: 100%;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: transform .2s;
	transition-timing-function: linear;
}

#webMenuInnerContent{
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	/*height: 100%;*/
	/*background-color: blue;*/
}

#webMenuContactInfo{
	display: inline-block;
	width: 400px;
	padding: 0 25px;
	height: 100%;
	color: #999;
	font-family: 'Avenir Next LT Pro Regular';
	text-align: left;
}

#webMenuContactInfo h4{
	font-weight: normal;
	letter-spacing: 6px;
	font-size: 24px;
}

#webMenuContactInfo p{
	padding: 0;
	margin: 8px 0;
	letter-spacing: 5px;
	font-size: 16px;
}


#webMenuInnerContent ul{
	float: right;
	width: 250px;
	padding: 0;
	/*height: 50%;*/
	/*background-color: #ccc;*/
}

#webMenuInnerContent ul li{
	list-style: none;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	text-align: left;
	line-height: 40px;
	vertical-align: bottom;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	float: left;
	clear: both;
	font-size: 30px;
	letter-spacing: 1px;
	color: #ccc;
	font-family: 'Avenir Next LT Pro Regular';
	transition: letter-spacing 1s,color 1s;
	cursor: pointer;
	/*transition-timing-function: linear;*/
	/*background-color: blue;*/
}

#webMenuContent ul li:hover{
	letter-spacing: 5px;
	color:#777;
}


#webHeader .menuLogo{
	position: absolute;
	margin-top: 27px;
}


#webHeaderLevel1{
	/*text-align: left;*/
	/*position: absolute;*/
	/*background: green;*/
}
	

#webHeaderLevel2{
	/*background-color: red;*/
}


#webBookButton{
	width: 100px;
	height: 26px;
	line-height: 26px;
	vertical-align: center;
	position: absolute;
	display: inline-block;
	text-align: center;
	margin-left: 50%;
	left: -50px;
	top: 31px;
	font-size: 12px;
	letter-spacing: 2px;
	color: #000;
	font-family: 'Avenir Next LT Pro Regular';
	/*background: blue;*/
}

#webHeader .menu_icon{
	position: absolute;
	right: 0;
	top: 24px;
}



#webBookLifeDisplay{
	position: relative;
	top:0px;
	width: 100%;
	/*height: 100px;*/
	background: green;
	overflow-y: scroll;
	transition: transform .2s;
	transition-timing-function: linear;
}


#webBookContent{
	width: 100%;
	height: 1000px;
	background-color: blue;
}



