.techDisplay{
	overflow: hidden;
	/*background-color: blue;*/
	position: relative;
	width: 100%;
	/*height: 300px;*/

}


.techSectionContent{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*width: 800px;*/
	/*height: 500px;*/
	/*background-color: green;*/
}

.techTitle{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	width: 500px;
	max-width: 100%;
	/*top: 700px;*/
	font-size: 40px;
	color: #333;
	text-align: center;
	font-family: 'Avenir Next LT Pro Regular';
	letter-spacing: 2px;
}



.techImg img{
	width: 100%;
}

.techTextContent{
	margin-left: auto;
	margin-right: auto;
	/*background: rgba(255,255,255,0.1);*/
	width: 60%;
	font-size: 20px;
	color: #777;
	text-align: center;
	font-family: 'Avenir Next LT Pro Regular';
	letter-spacing: 1px;
	line-height: 35px;
}

.techTextContent p{
	margin:0;
}


.showMoreButton, .showLessButton{
	height: 50px;
	padding-top: 25px;
	padding-bottom: 50px;
	/*font-size: 0.8em;*/
	color:#3989ed;
	/*cursor: pointer;*/
}

.showMoreButton p, .showLessButton p{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	cursor: pointer;
}


.additionalDisplay{
	height: 125px;
	overflow: hidden;
}

.additionalWrapper{
	position: relative;
}

.hiddingPara{
	opacity: 0;
}

.hiddingPara p:before{
	padding: 10px;
	font-family: FontAwesome;
	font-size: 16px;
	content: '\f20e';
	display: block;
}


/*SECTION BRAIN*/
#techSectionOne{
	background: #cfcfcf;
	margin-top: 60px;
}

#techSectionOne .techTextContent{
	position: relative;
	margin-top: -5%;
}

#techSectionOne .techImg{
	margin-left: auto;
	margin-right: auto;
	margin-top: -5%;
	width: 80%;
}




#techSectionTwo{
	background-color: #333;
}

#techSectionTwo .techTitle{
	color: #eee;
}

#techSectionTwo .techTextContent{
	color: #ccc;
}

#techSectionTwo .techTitle{
	/*padding-top: 300px;*/
}


#techSectionTwo .techImg{
	margin: auto;
	padding: 200px 100px 100px 100px;
	width: 400px;
	height: 300px;
}
#techSectionTwo canvas{
}

#techSectionThree .techImg{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#techSectionThree .techTextContent{
	margin-top: -25%;
}

.techDisplay:last-child{
	border-bottom: 1px solid #ccc;
}







@media (max-width: 768px) {
  	.techTextContent{
	  	width: 90%;
	}

	#techSectionOne .techImg{
		margin-top: 0;
		width: 100%;
	}

  	#techSectionTwo .techImg{
		margin: auto;
		padding: 100px 0 100px 0;
		width: 70%;
		height: 40vh;
	}
	#techSectionThree .techTextContent{
		margin-top: -15%;
	}

}




