@import 'menu';
@import 'footer';
@import 'technology';
@import 'about';
/*BASKERVILLE*/
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville"), url("../_fonts/baskerville/LibreBaskerville-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Libre Baskerville Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville Bold"), url("../_fonts/baskerville/LibreBaskerville-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Libre Baskerville Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville Italic"), url("../_fonts/baskerville/LibreBaskerville-Italic.woff") format("woff"); }
/*AVENIR_NEXT*/
@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("../_fonts/avenir_next/AvenirNextLTPro-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"), url("../_fonts/avenir_next/AvenirNextLTPro-Bold.woff") format("woff"); }

html,body{
    font-size:0;
    padding: 0;
    margin:0;
}



a{
  color: #3989ed;
  text-decoration: none;
}

a[href^=tel] {
text-decoration:inherit;
color: inherit;
}


.container{
    width: 100%;
    /*overflow: hidden;*/
    /*background-color: red;*/
}


.content{
  width: 100%;
  /*height: 100vh;*/
  /*min-height: 100vh;*/
/*  padding-top: 100px;
  padding-bottom: 100px;*/
    /*background-color: #eee;*/
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.blankSpace{
  width: 100%;
  height: 5vh;
}


.contentNoPadding{
  width: 100%;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.wrapperNoMargin{
  position: relative;
  width: 100%;
}

.wrapper{
    /*position: relative;*/
    width: 90%;
    /*max-width: 1200px;*/
    margin-left: auto;
    margin-right: auto;
    /*background: green;*/
}

.threeFifthContainer{
  text-align: center;
  width: 60%;
  height: 100%;
  /*background-color: red;*/
}

.twoFifthContainer{
  text-align: center;
  width: 40%;
  height: 100%;
  /*background-color: green;*/
}

.contentImage{
/*  transform: translate(0px,0px);
  opacity: 1;*/
  position: relative;
  display: inline-block;
}


.floatLeft{
  float: left;
  margin-left: 10%;
}

.floatLeftNoMargin{
  float: left;
}

.floatRight{
  float: right;
  margin-right: 10%;
}

.floatRightNoMargin{
  float: right;
}

.alignRight{
  text-align: right;
}


.twoFifthContainer img, .threeFifthContainer img{
  width: 100%;
  height: auto;
  margin-top: 10vh;
}

.textArea{
    /*padding-top: 80px;*/
    /*display: inline-block;*/
    width: 70%;
    max-width: 500px;
    /*// height: 300px;*/
    text-align: left;
}

.titleTargetPosition{
    margin:0px;/*VERY IMPORTANT, PREVENT STRANGE SPACES*/
    margin-top: 10vh;
    margin-bottom: 50px;
    width: 100%;
    /*height: 150px;*/
    
    /*letter-spacing: 10px;*/
    /*color: #000;*/
    font-size: 45px;
    font-family:'Avenir Next LT Pro Bold';
    letter-spacing: 2px;
    position: relative;
    float: left;
    clear: both;
}


.smallText p{
    /*VERY IMPORTANT, PREVENT STRANGE SPACES*/
    margin:0;
    /*VERY IMPORTANT, PREVENT STRANGE SPACES*/
    margin-top: 0px;
    width: 100%;
    font-family: 'Avenir Next LT Pro Regular';
    font-size: 25px;
    letter-spacing: 2px;
    opacity: 0.7
}

.videoText{
    display: block;
    width: 450px;
    /*height: 400px;*/
    text-align: left;
    margin-top: 500px;
}

.animatedTitle{
    /*display: inline-block;*/
    /*margin-top: -10px;*/
/*    position: relative;
    top: -50px;*/
    /*float: left;*/
    z-index: 99;
    width: 100%;
    // transition:transform 0.1s;
    /*height: 100px;*/
    /*background-color: yellow;*/
}

.textSpan{
  display: inline;
}

.animatedTitle .textSpan{
  /*background-color: yellow;*/
  /*display: inline-block;*/
}

.animatedTitle .textSpan .word:first-child{
  /*position: relative;*/
  /*transform: translate(20px,20px);*/
  /*margin-left: 200px;*/
}

.word{
    display: block;
    float: left;
    margin-left: 8px;
    /*background-color: yellow;*/
    /*clear: top;*/
}

#videoBG{
  /*background-color: black;*/
  margin-top: $webHeaderHeight;
  width: 100%;
  /*height: 100vh;*/
  /*overflow: hidden;*/
  position: relative;
  z-index: -100;
}

#videoDisplay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#videoBG video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 30%; left: 50%;
  z-index: -1;
  transform: translate(-50%, -30%);
}

#videoBG #mobilePic{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

#mobilePic img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 2s;
}

#mobilePic #picDarker{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}

#mobilePic img:first-child {
  opacity: 1;
}

#videoBG .threeFifthContainer{
  /*position: absolute;*/
  /*position: relative;*/
  /*bottom: 0;*/
  left: 0;
  margin-top: 200px;
}


.mobileText{
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  opacity: 0.7;
  padding-bottom: 50px;
  letter-spacing: 1px;
}

#deerPNG{
  display: none;
}

.mobileText .mobileTitle{
  letter-spacing: 2px;
  font-size: 30px;
  font-family:'Avenir Next LT Pro Bold';
}

.mobileText .mobileSmallText{
  font-size: 20px;
  font-family:'Avenir Next LT Pro Regular';
}



#textPara_1,#mobilePara_1{
    /*float: left;*/
    color: rgb(255,255,255);
    opacity: 1;
}

#mobilePara_1{
    top: 50vh;
}

#mobilePara_2{
    margin-top: 50px;
}

#mobilePara_3{
    margin-top: 30px;
}

#mobilePara_4{
  margin-top: -50px;
}

#textPara_2,#mobilePara_2{
    /*float: right;*/
    color: rgb(0,0,0);
}

#textPara_3,#mobilePara_3{
    /*float: right;*/
    color: rgb(255,255,255);
}

#textPara_4,#mobilePara_4{
  /*float: left;*/
  color: rgb(255,255,255);
}

#homeSection_3 {
  background: #000;
}


#homeSection_4 .contentImage img{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#homeSection_4 .contentImage img:last-child{
  opacity: 1;
}

#homeSection_4{
  position: relative;
/*  background-color: #cc3341;
  -webkit-transition: background-color 1s;
       -moz-transition: background-color 1s;
        -ms-transition: background-color 1s;
         -o-transition: background-color 1s;
            transition: background-color 1s;*/
}

#chameleonBackground{
  position: absolute;
  z-index: -99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: red;*/
}

.chameBg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  font-size: 0;
  margin: 0;
  padding: 0;
}

#chameBgGreen{
  background-color: rgb(166,216,58);
}

#chameBgRed{
  background-color: rgb(204,51,65);
}

#chameBgBlue{
  background-color: rgb(88,173,221);
}

.chameBg{
  opacity: 0;
}

.chameBg:last-child{
  opacity: 1;
}


#homeSection_2 svg polygon{

}


@media (min-width: 1600px) {
  .titleTargetPosition{
    font-size: 70px;
  }
  .smallText p{
    font-size: 40px;
  }

  .textArea{
    max-width: 800px;    
  }

}

@media (min-width: 2000px) {
  .titleTargetPosition{
    font-size: 90px;
  }
  .smallText p,#aboutMainText{
    font-size: 50px;
  }

  .textArea{
    max-width: 1000px;    
  }

}


/*Mobile*/
/*IsMobile in JS*/
@media (max-width: 768px) {
  .mobileText,#deerPNG,#videoBG #mobilePic{
    display: block
  }

  #main .threeFifthContainer,#main #deerSVG,#videoBG video{
    display: none;
  }


  #main .twoFifthContainer{
    width: 70%;
    margin-left: 15%;
  }

  .twoFifthContainer img, .threeFifthContainer img{
    margin-top: 0;
  }

  #homeSection_4 .twoFifthContainer{
    width: 90%;
    margin-left: 5%;
  }

  .floatLeft{
    float: none;
    margin-left: 0px;
  }

  .floatRight{
    float: none;
    margin-right: 0px;
  }

  .floatLeftNoMargin, .floatRightNoMargin{
    float: none;
  }

  .titleTargetPosition,.techTitle{
    font-size: 30px;
  }

  .smallText p,#aboutMainText,.techTextContent{
    font-size: 16px;
  }

  #aboutMainText,.techTextContent{
    line-height: 28px;
  }

  .wrapper{
    width: 100%;
  }
  .textArea{
    margin-left: 8%;
    margin-right: auto;
    width: 84%;
    max-width: 100%;
  }


  /*FOOTER*/
  #bottom .threeFifthContainer,#bottom .twoFifthContainer{
    width: 90%;
    margin-left: 5%;
  }

  #footerLeft{
    width: 90%;
    padding-top: 0px;
    padding-bottom: 0;
    /*text-align: center;*/
  }

  #copyRightText{
    padding-top: 0;
  }

  #bottom #mobileTop{
    display: block;
  }

  #bottom #footerRight{
    display: none;
  }

  a.socialMediaIcon{
    width: 35px;
    height: 35px;
  }
}









