@import 'menu';
@import 'technology';
/*BASKERVILLE*/
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville"), url("../_fonts/baskerville/LibreBaskerville-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Libre Baskerville Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville Bold"), url("../_fonts/baskerville/LibreBaskerville-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Libre Baskerville Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Libre Baskerville Italic"), url("../_fonts/baskerville/LibreBaskerville-Italic.woff") format("woff"); }
/*AVENIR_NEXT*/
@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("../_fonts/avenir_next/AvenirNextLTPro-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"), url("../_fonts/avenir_next/AvenirNextLTPro-Bold.woff") format("woff"); }

html,body{
    font-size:0;
    padding: 0;
    margin:0;
}

.container{
    width: 100%;
    overflow: hidden;
    /*background-color: red;*/
}


.content{
  width: 100%;
  height: 100vh;
  min-height: 700px;
  padding-top: 100px;
  padding-bottom: 100px;
    /*background-color: #eee;*/
}

.blankSpace{
  width: 100%;
  height: 5vh;
}


.contentNoPadding{
  width: 100%;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.wrapperNoMargin{
  position: relative;
  width: 100%;
}

.wrapper{
    position: relative;
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.threeFifthContainer{
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 60%;
  height: 100%;
  /*background-color: red;*/
}

.twoFifthContainer{
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 40%;
  height: 100%;
  /*background-color: green;*/
}

.contentImage{
/*  transform: translate(0px,0px);
  opacity: 1;*/
  position: relative;
  display: inline-block;
}

/*.imageShow{
  transform: translateX(0px,0px);
  opacity: 1;
  transition: all 1s;
}

.imageDown{
  transform: translateX(0px,200px);
  opacity: 0;
  transition: all 1s;
}

.imageUp{
  transform: translateX(0px,200px);
  opacity: 0;
  transition: all 1s;
}*/

.floatLeft{
  float: left;
  margin-left: 10%;
}

.floatLeftNoMargin{
  float: left;
}

.floatRight{
  float: right;
  margin-right: 10%;
}

.floatRightNoMargin{
  float: right;
}

.alignRight{
  text-align: right;
}


.twoFifthContainer img, .threeFifthContainer img{
  width: 100%;
  height: auto;
}

.textArea{
    /*padding-top: 80px;*/
    /*display: inline-block;*/
    width: 100%;
    max-width: 480px;
    /*// height: 300px;*/
    text-align: left;
}

.titleTargetPosition{
    margin:0px;/*VERY IMPORTANT, PREVENT STRANGE SPACES*/
    margin-bottom: 50px;
    width: 100%;
    /*height: 150px;*/
    
    /*letter-spacing: 10px;*/
    /*color: #000;*/
    font-size: 45px;
    font-family:'Avenir Next LT Pro Bold';
    letter-spacing: 2px;
    position: relative;
    float: left;
    clear: both;
}


.smallText p{
    /*VERY IMPORTANT, PREVENT STRANGE SPACES*/
    margin:0;
    /*VERY IMPORTANT, PREVENT STRANGE SPACES*/
    margin-top: 0px;
    width: 100%;
    font-family: 'Avenir Next LT Pro Regular';
    font-size: 20px;
    letter-spacing: 2px;
    /*color: rgba(0,0,0,0.7);*/
}

.videoText{
    display: block;
    width: 450px;
    /*height: 400px;*/
    text-align: left;
    margin-top: 200px;
}

.animatedTitle{
    /*display: inline-block;*/
    /*margin-top: -10px;*/
/*    position: relative;
    top: -50px;*/
    /*float: left;*/
    z-index: 99;
    width: 100%;
    // transition:transform 0.1s;
    /*height: 100px;*/
    /*background-color: yellow;*/
}

.textSpan{
  display: inline;
}

.animatedTitle .textSpan{
  /*background-color: yellow;*/
  /*display: inline-block;*/
}

.animatedTitle .textSpan .word:first-child{
  /*position: relative;*/
  /*transform: translate(20px,20px);*/
  /*margin-left: 200px;*/
}

.word{
    display: block;
    float: left;
    margin-left: 8px;
    /*background-color: yellow;*/
    /*clear: top;*/
}

#videoBG{
  /*background-color: black;*/
  width: 100%;
  height: 100vh;
  /*overflow: hidden;*/
    position: relative;
    z-index: -100;
}

#videoBG video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#textPara_1{
  color:rgba(255,255,255,1);
}

#textPara_2{
  color:rgba(0,0,0,1);
}

#textPara_3{
  color:rgba(255,255,255,0.7);
}

#textPara_4{
  color:rgba(255,255,255,1);
}

#videoBG .threeFifthContainer{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 200px;
}

#textPara_1{
    /*float: left;*/
}

#textPara_2{
    /*float: right;*/
}

#textPara_3{
    /*float: right;*/
}

#textPara_4{
  /*float: left;*/
}

#homeSection_3 {
  background: #000;
}

#homeSection_4 .contentImage img{
  position: absolute;
  left: 0;
  top: 0;
}

#homeSection_4{
  background-color: #cc3341;
}

#homeSection_2 svg polygon{

}

@media (max-width: 768px) {
  .threeFifthContainer, .twoFifthContainer{
    width: 100%;
    height: auto;
  }
/*  .content{
    height: auto;
  }*/
/*  #videoBG{
    height: 100vh;
  }*/
  #videoBG video{
    height: 100vh;
    width: auto;
  }
}



